---
import { Picture } from '@astrojs/image/components'

const items = [
	{
		title: 'Cloud Hippie',
		description:
			'A side project working on teaching Cloud and DevOps through humanitarian based courses.',
		url: "https://cloudhippie.com"
	},
	{
		title: 'Indigo Ag',
		description:
			'Full-Time Gig working on the Indigo Ag Platform. Helping farmers sustainably grow more food with less water.',
		url: "https://www.indigoag.com/"
	},
	{
		title: 'Shamen.io',
		description:
			'A project helping put cannabis on the map. Helping good people find good medicine.',
		url: "https://shamen.io"
	}
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					I adore what I do.
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					This is my personal site where I share my thoughts, ideas, and projects.
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, url }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<a href={url}><div class="ml-4 text-xl font-bold">{title}</div></a>	
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
		<div class="relative m-auto max-w-4xl">
			<Picture
				src={import('~/assets/images/buddha.png')}
				class="mx-auto rounded-md w-full"
				widths={[400, 768, 1480]}
				sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
				alt="Hero Image"
				aspectRatio={1480/833}
				loading="eager"
				width={830}
				height={400}
			/>
		</div>
	</div>
</section>
