---
import { Picture } from '@astrojs/image/components';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Under Construction
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Hey, thanks for stopping by.
						<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
							I made this with Astro, a new static site generator that is really cool. It's built on top of Svelte, and
							it's really fast. I'm really excited about it. You can learn more about it at <a
								href="https://astro.build">astro.build</a
							>.
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
